.settings-key-space {
    width: 200px;
    height: 50px;
    text-align: center;
    background: gray;
    line-height: 50px;
    margin: 20px 0;
    font-weight: 800;
    font-size: 1.2em;
}

#settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}