$shadow-color: #D440E5;
$button-color: #0D0B10;

#drum-machine {
    width: 600px;
    display: flex;
    flex-direction: column;
    background: rgba(20, 20, 20, 1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $shadow-color;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#inner-drum-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

#board-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid $shadow-color;

    p {
        margin: 0px 20px;
        color: $shadow-color;
    }

    img {
        width: 30px;
        height: 30px;
        color: $shadow-color;
    }
}

body {
    background: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
}